* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --aquamarine: var(--aquamarine);
    --red: #999;
}
body{
    background-color: aquamarine;
}/* You can add global styles to this file, and also import other style files */
